$breakpoint-mobile:576px;
$breakpoint-tablet:768px;
$breakpoint-lg:992px;
$breakpoint-xl:1200px;
$breakpoint-xxl:1400px;
:root {}
body {
  font-family: 'TT Norms Pro', sans-serif;
  font-style: normal;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: #333333;
  font-size: 18px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
a {
  color: #13AAF7;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
p {
  padding: 0;
  margin: 0;
}
.form-container {
  box-sizing: border-box;
  min-width: 570px;
  margin: 0 auto;
  border-radius: 30px;
  padding: 40px;
  background-color: #F9FAFD;
  max-width: 25vw;
  margin-bottom: 60px;
  background-image: radial-gradient(circle at bottom left, rgba(19,170,247,.25), transparent);
  &__title {
    font-family: 'Montserrat','TT Norms';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
.container {
  max-width: $breakpoint-xxl;
  margin: 0 auto;
}
.header-nav {
  border-bottom: 1px solid #F5F5F5;
  margin-bottom: 20px;
  & > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
}
.nav-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  margin-bottom: 20px;
}
.breadcrumbs {
  display: flex;
  gap: 6px;
  &__link {
    &::after {
      content: url("data:image/svg+xml,%3Csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 10L6 5.5L1 1' stroke='%2313AAF7'/%3E%3C/svg%3E%0A");
      margin-left: 6px;
    }
  }
}
.cabinet {
  &__title {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #13AAF7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
  }
  &__text {
    cursor: pointer;
    &::after {
      margin-left: .5em;
      content: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='%2313AAF7'/%3E%3C/svg%3E");
    }
  }
}

.lead-form {
  $this: &;
  &__group {
    border: 1px solid #B0B0B1;
    height: 72px;
    border-radius: 41px;
    box-sizing: border-box;
    margin: 16px 0;
    &:has(*:focus) {
      border-color: #13AAF7;
        & > legend {
            color: #13AAF7;
        }
    }
  }
  legend#{$this}__label {
    margin-left: 20px;
    padding: 0 12px;
    font-weight: bold;
    font-family: 'Montserrat','TT Norms';
    height: 22px;
  }
  &__control {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    background-color: transparent;
    width: 100%;
    height: 100%;
    transform: translateY(-6px);
    font-size: 1em;
    &:focus {
      outline: none;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(109.64deg, #13AAF7 16.49%, #5782F1 105.64%);
    box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
    border-radius: 41px;
    height: 62px;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 1em;
  }
  &__check-input {
    display: none;
    &:checked + label {
      &::before {
        background-color: #13AAF7;
        border-color: #13AAF7;
      }
      &::after {
        content: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7327 1.65891L13.4109 0.27907C13.2327 0.0930232 13.0099 0 12.7574 0C12.505 0 12.2822 0.0930232 12.104 0.27907L5.74752 6.91473L2.91089 3.93798C2.73267 3.75194 2.5099 3.65891 2.25743 3.65891C2.00495 3.65891 1.78218 3.75194 1.60396 3.93798L0.282178 5.31783C0.0891089 5.50388 0 5.73643 0 6C0 6.26357 0.0891089 6.49612 0.267327 6.68217L3.77228 10.3411L5.09406 11.7209C5.27228 11.907 5.49505 12 5.74752 12C6 12 6.22277 11.907 6.40099 11.7209L7.72277 10.3411L14.7327 3.02326C14.9109 2.83721 15 2.60465 15 2.34109C15 2.07752 14.9109 1.84496 14.7327 1.65891Z' fill='white'/%3E%3C/svg%3E");
        position: absolute;
        left: 0;
        width: 27px;
        height: 27px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__check-label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    &::before {
      content: "";
      width: 27px;
      height: 27px;
      border: 1px solid #B0B0B1;
      display: inline-flex;
      border-radius: 3px;
      cursor: pointer;
    }
  }
  &__bottom {
    margin-top: 32px;
  }
  &__back {
    margin-top: 1em;
    font-size: .85em;
    & a::before {
      margin-right: 1em;
      content: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 10.6943L1 5.69434L6 0.694336' stroke='%2313AAF7'/%3E%3C/svg%3E");
    }
  }
}
@import 'header';
@import 'footer';