header .header-nav {
  margin-bottom: 30px;
}
header .header-nav > .container {
  border-bottom: 1px solid #E7E0E0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.footer > .container {
  border-top: 1px solid #E7E0E0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer__map {
  margin: 1.875em 0;
  justify-self: end;
  min-height: 272px;
  max-width: 632px;
  overflow: hidden;
  border-radius: 30px;
  width: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
}
.footer__map iframe {
  width: 100%;
  height: 100%;
}
.footer__contacts {
  padding: 1.875em 0;
  display: grid;
  gap: 0.66em;
  align-self: start;
}
.footer__contacts-header {
  font-weight: 700;
  font-size: 1.3em;
}
.footer__bottom {
  align-self: end;
  color: #B0B0B1;
  display: grid;
  gap: 0.33em;
  font-size: 0.8125em;
  margin: 1.875em 0;
}
@media screen and (max-width: 768px) {
  .footer > .container {
    grid-template-columns: 1fr;
  }
  .footer__map {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
  }
  .footer__map iframe {
    min-height: 125px;
  }
}

.lead-form__control, .lead-form__select-selected {
  display: flex;
  align-items: center;
  border: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform: translateY(-6px);
  font-size: 1em;
  padding: 0 1.2em;
  color: #333;
  font-weight: 300;
  font-family: "TT Norms Pro", sans-serif;
}

/*:root {}*/
body, html {
  height: 100%;
}

body {
  font-family: "TT Norms Pro", sans-serif;
  font-style: normal;
  letter-spacing: 0.04em;
  font-weight: 300;
  color: #333333;
  font-size: 16px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
main.blank {
  height: 100%;
  display: flex;
  align-items: center;
}

main {
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  main {
    margin-bottom: 15px;
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: #13AAF7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  padding: 0;
  margin: 0;
}

.is-hidden {
  display: none !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.logo__img {
  max-width: 220px;
}
@media screen and (max-width: 768px) {
  .logo__img {
    max-width: 165px;
  }
}

.messages.error {
  margin-top: 1em;
  color: #CB1F1F;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.01em;
  margin-bottom: 60px;
  counter-reset: counter;
}
.steps__item {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  counter-increment: counter;
}
.steps__item span {
  color: #333;
}
.steps__item::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgOSA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNOC44Mzk2IDAuODI5NDU3TDguMDQ2NTQgMC4xMzk1MzVDNy45Mzk2IDAuMDQ2NTExNiA3LjgwNTk0IDAgNy42NTQ0NiAwQzcuNTAyOTcgMCA3LjM2OTMxIDAuMDQ2NTExNiA3LjI2MjM4IDAuMTM5NTM1TDMuNDQ4NTEgMy40NTczNkwxLjc0NjUzIDEuOTY4OTlDMS42Mzk2IDEuODc1OTcgMS41MDU5NCAxLjgyOTQ2IDEuMzU0NDYgMS44Mjk0NkMxLjIwMjk3IDEuODI5NDYgMS4wNjkzMSAxLjg3NTk3IDAuOTYyMzc2IDEuOTY4OTlMMC4xNjkzMDcgMi42NTg5MUMwLjA1MzQ2NTQgMi43NTE5NCAwIDIuODY4MjIgMCAzQzAgMy4xMzE3OCAwLjA1MzQ2NTMgMy4yNDgwNiAwLjE2MDM5NiAzLjM0MTA5TDIuMjYzMzcgNS4xNzA1NEwzLjA1NjQ0IDUuODYwNDdDMy4xNjMzNyA1Ljk1MzQ5IDMuMjk3MDMgNiAzLjQ0ODUxIDZDMy42IDYgMy43MzM2NiA1Ljk1MzQ5IDMuODQwNTkgNS44NjA0N0w0LjYzMzY2IDUuMTcwNTRMOC44Mzk2IDEuNTExNjNDOC45NDY1NCAxLjQxODYgOSAxLjMwMjMzIDkgMS4xNzA1NEM5IDEuMDM4NzYgOC45NDY1NCAwLjkyMjQ4MSA4LjgzOTYgMC44Mjk0NTdaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4=");
  width: 20px;
  height: 20px;
  display: inline-flex;
  border-radius: 50%;
  background-color: #14ABF8;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 0.8125em;
  line-height: 1.25;
}
.steps__item:not(:last-child)::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #E7E0E0;
  display: inline-block;
}
.steps__item--inactive span {
  color: #E7E0E0;
}
.steps__item--inactive::before {
  content: counter(counter);
  background-color: #D2D2D2;
}
.steps__item--active span {
  color: #14ABF8;
}
.steps__item--active::before {
  content: counter(counter);
}

@media screen and (max-width: 768px) {
  .steps {
    display: none;
  }
}
.form-title {
  font-size: 1.3em;
  line-height: 54px;
  font-weight: 700;
}
.form-container {
  box-sizing: border-box;
  min-width: 420px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 30px;
  background-color: #F9FAFD;
  max-width: 25vw;
  margin-bottom: 60px;
  background-image: linear-gradient(212.82deg, #FFFFFF 40.31%, #EDF4FF 82.32%, #EAFEFF 90.29%);
  border: 1px solid #E7E0E0;
}
.form-container__title {
  font-family: "Montserrat", "TT Norms";
  font-style: normal;
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 1em;
}
.form-container__title--center {
  text-align: center;
}
.form-container__text {
  font-weight: 400;
  font-size: 1.125em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #333333;
}
@media screen and (max-width: 768px) {
  .form-container--transparent {
    border: none;
    background: transparent;
  }
  .form-container--transparent br {
    display: none;
  }
}
.form-container--auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  margin-top: 60px;
}
.form-container--auth > * {
  margin: 0;
}
.form-container--auth form {
  flex-shrink: 0;
  flex-basis: 100%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .form-container {
    min-width: 320px;
    max-width: 85vw;
    padding: 15px;
    margin-bottom: 0;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: calc(100% - 4em);
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    width: 85vw;
  }
}
.nav-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  margin-bottom: 20px;
}

.breadcrumbs {
  display: flex;
  gap: 6px;
}
.breadcrumbs__link::after {
  content: url("data:image/svg+xml,%3Csvg width='7' height='11' viewBox='0 0 7 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 10L6 5.5L1 1' stroke='%2313AAF7'/%3E%3C/svg%3E%0A");
  margin-left: 6px;
}

.cabinet {
  position: relative;
}
.cabinet__title {
  display: flex;
  align-items: center;
  gap: 12px;
}
.cabinet__title.is-open .cabinet__text::after {
  transform: rotate(180deg);
}
.cabinet__logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #13AAF7;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}
.cabinet__text {
  cursor: pointer;
}
.cabinet__text::after {
  margin-left: 0.5em;
  content: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='%2313AAF7'/%3E%3C/svg%3E");
  display: inline-block;
}
.cabinet__content {
  position: absolute;
  background-color: #F9FAFD;
  border-radius: 15px;
  min-width: 168px;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  right: 0;
}
.cabinet__logout {
  display: flex;
  gap: 8px;
  align-items: center;
}
.cabinet__logout::after {
  content: url("../img/icon-exit.svg");
}

.lead-form__info {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #B0B0B1;
  margin-bottom: 0.75em;
}
.lead-form__radio-block {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em 0;
}
.lead-form__radio-block > legend {
  padding: 0.5em 0;
}
.lead-form__radio-input {
  display: none;
}
.lead-form__radio-label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.75em;
}
.lead-form__radio-label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #B0B0B1;
  border-radius: 50%;
  box-sizing: border-box;
  flex-shrink: 0;
}
input:checked + .lead-form__radio-label::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #13AAF7;
  position: absolute;
  left: 5px;
  flex-shrink: 0;
}
.lead-form__group {
  border: 1px solid #B0B0B1;
  height: 3.125em;
  border-radius: 3em;
  box-sizing: border-box;
  margin: 16px 0;
  padding: 0;
}
.lead-form__group:has(legend) {
  height: 4.5em;
}
.lead-form__group:has(*:focus) {
  border-color: #13AAF7;
}
.lead-form__group:has(*:focus) > legend {
  color: #13AAF7;
}
.lead-form__group--disabled {
  border-radius: 0;
  border-color: transparent transparent #B0B0B1 transparent;
}
.lead-form__group--disabled legend.lead-form__label {
  margin: 0 !important;
  padding: 0 !important;
}
.lead-form__group--disabled input.lead-form__control {
  padding: 0;
}
.lead-form legend.lead-form__label {
  margin-left: 20px;
  padding: 0 12px;
  font-weight: bold;
  font-family: "Montserrat", "TT Norms";
  height: 1.375em;
  font-size: 1em;
}
.lead-form legend.lead-form__label > p {
  display: flex;
  flex-direction: column;
  transform: translate(0, -25%);
}
.lead-form__select {
  display: none;
}
.lead-form__custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.lead-form__select-selected {
  justify-content: space-between;
  cursor: pointer;
}
.lead-form__select-selected::after {
  display: inline-flex;
  align-items: center;
  transform: rotate(180deg);
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDE2IDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xNSA4TDggMUwxIDgiIHN0cm9rZT0iI0IwQjBCMSIvPgo8L3N2Zz4=");
}
.lead-form__select-selected.is-open::after {
  transform: rotate(0deg);
}
.lead-form__select-items {
  position: absolute;
  display: none;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #B0B0B1;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  margin-top: 0.5em;
  left: -1px;
}
.lead-form__select-items div {
  cursor: pointer;
  height: 42px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.06em;
  color: #333333;
  padding: 0 20px;
}
.lead-form__select-items div:hover {
  background-color: #F6F6F6;
}
.lead-form__control {
  justify-content: center;
}
.form-container--auth .lead-form__control {
  transform: translateY(0);
}
.lead-form__control:focus {
  outline: none;
}
.lead-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(109.64deg, #13AAF7 16.49%, #5782F1 105.64%);
  box-shadow: inset 0px 0px 1.375em rgba(255, 255, 255, 0.25);
  border-radius: 41px;
  height: 3.125em;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 1em;
}
.lead-form__check {
  margin-bottom: 25px;
}
.lead-form__link {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin: 20px 0;
}
.lead-form__link a {
  font-weight: 500;
  font-size: 1.125em;
  line-height: 1.1;
  letter-spacing: 0.03em;
  align-self: center;
}
.lead-form__link::before {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzEiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCAzMSA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzIyMl83KSI+CjxwYXRoIGQ9Ik0zIDQwLjE4NTJIMjhDMjkuNjU2OSA0MC4xODUyIDMxIDM4Ljg0MiAzMSAzNy4xODUyVjEyLjE1QzMxIDExLjM1NDQgMzAuNjgzOSAxMC41OTEzIDMwLjEyMTMgMTAuMDI4N0wyMC45NzEzIDAuODc4Njc5QzIwLjQwODcgMC4zMTYwNyAxOS42NDU2IDAgMTguODUgMEgzQzEuMzQzMTUgMCAwIDEuMzQzMTUgMCAzVjM3LjE4NTJDMCAzOC44NDIgMS4zNDMxNSA0MC4xODUyIDMgNDAuMTg1MloiIGZpbGw9IiMxNEFBRjciLz4KPHBhdGggZD0iTTE4LjM3MDEgMTIuMTI5NVY0LjY1MTQ0QzE4LjM3MDEgNC4yMDU5OSAxOC45MDg3IDMuOTgyOTEgMTkuMjIzNyA0LjI5Nzg5TDI2LjcwMTcgMTEuNzc2QzI3LjAxNjcgMTIuMDkxIDI2Ljc5MzYgMTIuNjI5NSAyNi4zNDgyIDEyLjYyOTVIMTguODcwMUMxOC41OTQgMTIuNjI5NSAxOC4zNzAxIDEyLjQwNTcgMTguMzcwMSAxMi4xMjk1WiIgZmlsbD0id2hpdGUiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF8yMjJfNyI+CjxyZWN0IHdpZHRoPSIzMSIgaGVpZ2h0PSI0MCIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4=");
}
.lead-form__edit {
  margin: 1em 0;
  display: flex;
  align-items: center;
  gap: 1em;
}
.lead-form__edit a {
  text-decoration: underline;
  text-decoration-style: dotted;
}
.lead-form__edit::before {
  content: url("data:image/svg+xml,%3Csvg%20width%3D%2225%22%20height%3D%2225%22%20viewBox%3D%220%200%2025%2025%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M7.36765%2022.1032L2.45588%2017.1914L0.503457%2023.2713C0.29932%2023.907%200.917736%2024.4983%201.54364%2024.2659L7.36765%2022.1032Z%22%20fill%3D%22%2313AAF7%22%2F%3E%0A%3Crect%20x%3D%2215.4098%22%20y%3D%223.94629%22%20width%3D%227.23338%22%20height%3D%2216.8306%22%20transform%3D%22rotate%2844.6909%2015.4098%203.94629%29%22%20fill%3D%22%2313AAF7%22%2F%3E%0A%3Cpath%20d%3D%22M18.7132%200.710912C19.1016%200.318286%2019.7348%200.31487%2020.1274%200.703281L23.8479%204.38382C24.2405%204.77223%2024.2439%205.40539%2023.8555%205.79802L21.6653%208.01199L16.523%202.92489L18.7132%200.710912Z%22%20fill%3D%22%2313AAF7%22%2F%3E%0A%3C%2Fsvg%3E");
}
.lead-form__check-input {
  display: none;
}
.lead-form__check-input:checked + label::before {
  background-color: #13AAF7;
  border-color: #13AAF7;
}
.lead-form__check-input:checked + label::after {
  content: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7327 1.65891L13.4109 0.27907C13.2327 0.0930232 13.0099 0 12.7574 0C12.505 0 12.2822 0.0930232 12.104 0.27907L5.74752 6.91473L2.91089 3.93798C2.73267 3.75194 2.5099 3.65891 2.25743 3.65891C2.00495 3.65891 1.78218 3.75194 1.60396 3.93798L0.282178 5.31783C0.0891089 5.50388 0 5.73643 0 6C0 6.26357 0.0891089 6.49612 0.267327 6.68217L3.77228 10.3411L5.09406 11.7209C5.27228 11.907 5.49505 12 5.74752 12C6 12 6.22277 11.907 6.40099 11.7209L7.72277 10.3411L14.7327 3.02326C14.9109 2.83721 15 2.60465 15 2.34109C15 2.07752 14.9109 1.84496 14.7327 1.65891Z' fill='white'/%3E%3C/svg%3E");
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25em 0;
  padding: 1px;
}
.lead-form__check-label {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 17px;
}
.lead-form__check-label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #B0B0B1;
  display: inline-flex;
  border-radius: 3px;
  cursor: pointer;
  flex-shrink: 0;
  margin: 0.25em 0;
}
@media screen and (max-width: 768px) {
  .lead-form__check-label::before {
    width: 14px;
    height: 14px;
  }
  .lead-form__check-input:checked + label::after {
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNSIgaGVpZ2h0PSI0IiB2aWV3Qm94PSIwIDAgNSA0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNC45MTA4OSAwLjU1Mjk3Mkw0LjQ3MDMgMC4wOTMwMjMyQzQuNDEwODkgMC4wMzEwMDc3IDQuMzM2NjMgMCA0LjI1MjQ4IDBDNC4xNjgzMiAwIDQuMDk0MDYgMC4wMzEwMDc3IDQuMDM0NjUgMC4wOTMwMjMyTDEuOTE1ODQgMi4zMDQ5MUwwLjk3MDI5NyAxLjMxMjY2QzAuOTEwODkxIDEuMjUwNjUgMC44MzY2MzQgMS4yMTk2NCAwLjc1MjQ3NSAxLjIxOTY0QzAuNjY4MzE3IDEuMjE5NjQgMC41OTQwNTkgMS4yNTA2NSAwLjUzNDY1MyAxLjMxMjY2TDAuMDk0MDU5NCAxLjc3MjYxQzAuMDI5NzAzIDEuODM0NjMgMCAxLjkxMjE0IDAgMkMwIDIuMDg3ODYgMC4wMjk3MDMgMi4xNjUzNyAwLjA4OTEwODkgMi4yMjczOUwxLjI1NzQzIDMuNDQ3MDNMMS42OTgwMiAzLjkwNjk4QzEuNzU3NDMgMy45Njg5OSAxLjgzMTY4IDQgMS45MTU4NCA0QzIgNCAyLjA3NDI2IDMuOTY4OTkgMi4xMzM2NiAzLjkwNjk4TDIuNTc0MjYgMy40NDcwM0w0LjkxMDg5IDEuMDA3NzVDNC45NzAzIDAuOTQ1NzM2IDUgMC44NjgyMTcgNSAwLjc4MDM2MkM1IDAuNjkyNTA2IDQuOTcwMyAwLjYxNDk4NyA0LjkxMDg5IDAuNTUyOTcyWiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+");
    width: 14px;
    height: 14px;
    line-height: 4px;
  }
}
.lead-form__bottom {
  margin-top: 32px;
}
.lead-form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lead-form__back {
  margin-top: 1em;
  display: flex;
  align-items: center;
  display: inline-flex;
  align-items: center;
}
.lead-form__back a::before {
  margin-right: 1em;
  content: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 10.6943L1 5.69434L6 0.694336' stroke='%2313AAF7'/%3E%3C/svg%3E");
}