footer.footer
    .container
        .footer__contacts
            .footer__contacts-header Контакты
            p г. Минск, ул. Ленина 50, офис 501, 5 этаж
            p +375 (44) 522-22-20
            p info@yoowills.by
        .footer__map
            iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A754bd249723ed3c56727e5a11c708d51794772fdeff4251ef5c4097263e528b9&amp;source=constructor&amp;scroll=false",frameborder="0")
        .footer__bottom
            p ООО “Ювилс Лизинг”, УНП 192825384
            p
                a(href="#") Политика конфиденциальности