header
    .container
        nav.header-nav
            .logo
                .logo__img
                    a(href='/')
                        img(src='./img/logo.svg')
                .logo__text Ваши возможности лизинга