header
    nav.header-nav
        .container
            .logo
                .logo__img
                    a(href='/')
                        img(src='./img/logo.svg', alt="Ваши возможности лизинга")
            .cabinet(JS_cabinet)
                .cabinet__title.dropdown-toggle(data-toggle="dropdown", data-target="#cabinet")
                    .cabinet__logo AA
                    .cabinet__text Ваш профиль
                #cabinet.cabinet__content.is-hidden
                    a.cabinet__logout(href="#") Выйти