header
    nav.header-nav
        .container
            .logo
                .logo__img
                    a(href='/')
                        img(src='./img/logo.svg', alt="Ваши возможности лизинга")