nav.steps
    .steps__item
        a(href="#") Личные данные
    .steps__item
        a(href="#") Документ, удостоверяющий личность
    .steps__item
        a(href="#") Адрес регистрации
    .steps__item.steps__item--active
        a(href="#") Предмет лизинга
    .steps__item.steps__item--inactive
        span Дополнительная информация
    .steps__item.steps__item--inactive
        span Подписание согласий
    .steps__item.steps__item--inactive
        span Подтверждение данных