doctype html
html(lang="ru")
    head
        title МСИ (Yoowhils)
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        block scripts    
        block styles
            link(href="https://fonts.cdnfonts.com/css/tt-norms-pro" rel="stylesheet")
            link(rel="preconnect" href="https://fonts.googleapis.com")
            link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
            link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
            link(rel='stylesheet', type='text/css', href='/css/style.css')
    body
        include ./parts/header.pug
        .container
            ul.breadcrumbs
                li
                    a Заявки
                li
                    span Подать заявку на лизинг
        main
            .form-container
                .form-title Личные данные
                form.lead-form(action="/" method="POST")
                    .lead-form__group
                        label.lead-form__label(for="firstname") Имя
                        input.lead-form__control(type="text", name="firstrname", id="firstname")
                        .messages
                    .lead-form__group
                        label.lead-form__label(for="lastname") Фамилия
                        input.lead-form__control(type="text", name="lastname", id="lastname")
                        .messages
                    .lead-form__group
                        label.lead-form__label(for="middlename") Отчество
                        input.lead-form__control(type="text", name="middlename", id="middlename")
                        .messages
                    .lead-form__group
                        label.lead-form__label(for="gender") Пол
                        input.lead-form__control(type="text", name="gender", id="gender")
                        .messages
                    .lead-form__group
                        label.lead-form__label(for="birthday") День рождения
                        input.lead-form__control(type="text", name="birthday", id="birthday")
                        .messages
                    .lead-form__group
                        label.lead-form__label(for="phone") Мобильный телефон
                        input.lead-form__control(type="text", name="phone", id="phone")
                        .messages
                    .lead-form__edit Редактировать данные
                    .lead-form__check
                        input.lead-form__check-input(type="checkbox", name="politic", id="politic")
                        label.lead-form__label(for="politic") Cогласен с условиями 
                            a(href="#") Политики конфиденциальности
                    .lead-form__check
                        input.lead-form__check-input(type="checkbox", name="politic", id="politic")
                        label.lead-form__label(for="politic") Даю 
                            a(href="#") Согласие
                            |  на хранение и обработку персональных данных
                    .lead-form__check
                        input.lead-form__check-input(type="checkbox", name="politic", id="politic")
                        label.lead-form__label(for="politic") Даю 
                            a(href="#") Согласие
                            |  на предоставление кредитного отчета
                    .lead-form__bottom
                        input.lead-form__button(type="submit" value="Далее")

        include ./parts/footer.pug