doctype html
html(lang="ru")
    head
        title МСИ (Yoowhils)
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        block scripts    
        block styles
            link(rel='stylesheet', type='text/css', href='/css/style.css')
    body
        include ./parts/header.pug
        main

        include ./parts/footer.pug