doctype html
html(lang="ru")
    include ./parts/head.pug
    link(rel='stylesheet', type='text/css', href='css/leads.css')
    body
        include ./parts/header.pug
        .container
            .nav-block
                include ./parts/breadcrumbs.pug
        main
            h1.leads__header Мои заявки
            .leads__descr Для подачи заявки  необходимо пройти аутентификацию в межбанковской системе идентификации (МСИ)
            .leads
                .leads__item
                    h3.leads__title Заявка №
                    p.leads_subject 
                        strong Предмет лизинга
                        span Требует заполнения
                    .leads__status
                        strong Статус
                        .leads__btn.leads__btn--require Требует заполнения
                .leads__item
                    h3.leads__title Заявка №
                    p.leads_subject 
                        strong Предмет лизинга
                        span подтягиваем из поля “марка” (ШАГ 4 анкеты)
                    .leads__status
                        strong Статус
                        .leads__btn.leads__btn--issued Заявка оформлена
        include ./parts/footer.pug