doctype html
html(lang="ru")
    include ./parts/head.pug
    link(rel='stylesheet', type='text/css', href='css/leads.css')
    body
        include ./parts/header.pug
        .container
            .tabs
                .tabs__button Заявки
        main
            .container
                h1.leads__header Мои заявки 
                .leads__descr Для подачи заявки  необходимо пройти аутентификацию в межбанковской системе идентификации (МСИ)
                .leads
                    .leads__item
                        h3.leads__title 
                            a(href="") Заявка №
                        .leads__block 
                            p
                                strong Предмет лизинга
                            p Требует заполнения
                        .leads__block
                            p
                                strong Статус
                            .leads__btn.leads__btn--require Требует заполнения
                    .leads__item
                        h3.leads__title 
                            a(href="") Заявка №
                        .leads__block 
                            p
                                strong Предмет лизинга
                            p подтягиваем из поля “марка” (ШАГ 4 анкеты)
                        .leads__block
                            p
                                strong Статус
                            .leads__btn.leads__btn--issued Заявка оформлена
        include ./parts/footer.pug